#spotify-headerBlock{
    background-color: black;
    height: 80px;
}

#spotify-headerBlock >nav{
    display: flex;
    height: 80px;
    width: 80%;
    margin: 0 auto;
    align-items: center;
    display: flex;
} 
.spotifyLogo svg{
    width: 135px;
    height: 100%;
    fill: white;
}
.spotifyLogo{
    flex-basis: 20%;
    align-items: center;
    display: flex;
    justify-content: flex-start;
}
.spotifyMenu{
    flex-basis: 80%;
    display: flex;
    justify-content: flex-end;
}
.spotifyMenu nav ul{
    display: flex;
    list-style: none;
    align-items: center;
}
.spotifyMenu ul li a{
    padding: 28px 17px;
    text-decoration: none;
    color: #fff;
    text-transform: capitalize;
}

.spotifyMenu nav ul li a:nth-child(1),
.spotifyMenu nav ul li a:nth-child(2)
.spotifyMenu nav ul li a:nth-child(3){
    font-weight: bold;
}

.bar {
    height: 18px;
    display: inline-block;
    width: 1px;
    background: #fff;
    padding: 0px;
    margin: 32px 20px;
    color: white;
}

.spotifyMenu nav ul li a:hover{
color:#1ed760;
}